body {
    background-color: #eaf1f5;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    font-size: 18px;
}
.topNav {
    background-color: transparent; 
    border: transparent; 
    font-size: 18px; 
    font-weight: 500; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tab {
    background-color: transparent; 
    border: transparent; 
    font-weight: 500; 
    color: #2d5f74; 
    font-size: 12px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18xp;
    color: #2d5f74;
}
label {
    color: #2d5f74;
}
.nav-link{
    transition: .4s;
}
.nav-link:hover {
    transition: .4s;
    background-color: #c9e1ee;
    border-radius: 4em;
}

td {
    font-size: 3vw;
  }
  @media screen and (min-width: 1200px) {
    td {
       font-size: 16px;
    }
  }
}
.profile {
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
.circle {
    height: 200px;
    width: 200px;
    background-image: url("img/chewy.jpg");
    background-attachment: fixed;
    background-size: 214px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1%;

}
.name {
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 32px;
      font-weight: 500;
      color: #2d5f74;
}
.info {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2d5f74;
}
